#Ejercicio de Pandas:

Usa los dos archivos csv de la carpeta para completar las tareas que aparecen en negrita a continuación, responder sólo en la línea que aparece.

**Usar una celda de código**

Importar pandas and leer el archivo banklist.csv en una estructura de dataframe llamada bancos.

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import os

os.chdir('/content/drive/MyDrive/Tarea 2 Unidad 2 ')

In [14]:
import pandas as pd

bancos = pd.read_csv('banklist.csv')

**Muestre las 10 primeras filas del dataframe**

In [15]:
bancos.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
6,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
7,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
9,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16

**Imprima el nombre de las columnas**

In [24]:
# Imprimir los nombres de las columnas
print(bancos.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

**Obtener una lista o matriz de todos los estados en el conjunto de datos, sin repetición, ordenados de la A a la Z**

In [25]:
# Obtener una lista de todos los estados sin repetición y ordenada alfabéticamente
estados_unicos = sorted(bancos['ST'].unique())

# Imprimir la lista de estados
print(estados_unicos)

['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'MI', 'MN', 'MO', 'MS', 'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'WA', 'WI', 'WV', 'WY']

**¿Cuáles son los 5 estados con más bancos fallidos?**

In [26]:
# Contar el número de bancos fallidos por estado y los 5 principales
estados_con_mas_bancos_fallidos = bancos['ST'].value_counts().head(5)

# Imprimir los 5 estados con más bancos fallidos
print(estados_con_mas_bancos_fallidos)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

**¿Cuáles son las 5 principales instituciones adquirentes?**

In [18]:
# Obtener las 5 principales instituciones adquirentes
top_instituciones_adquirentes = bancos['Acquiring Institution'].value_counts().head(5)
print(top_instituciones_adquirentes)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

**¿Cuántos bancos ha adquirido el State Bank of Texas? ¿Cuántos de ellos estaban realmente en Texas?**

In [17]:
# Filtrar por los bancos adquiridos por "State Bank of Texas"
bancos_state_bank_texas = bancos[bancos['Acquiring Institution'] == 'State Bank of Texas']

# Contar cuántos bancos ha adquirido el "State Bank of Texas"
total_adquiridos = bancos_state_bank_texas.shape[0]

# Contar cuántos de esos bancos estaban en Texas
bancos_en_texas = bancos_state_bank_texas[bancos_state_bank_texas['ST'] == 'TX'].shape[0]

print(f"Total de bancos adquiridos por 'State Bank of Texas': {total_adquiridos}")
print(f"De esos, bancos ubicados en Texas: {bancos_en_texas}")

Total de bancos adquiridos por 'State Bank of Texas': 3
De esos, bancos ubicados en Texas: 1

**¿Cuál es la ciudad más común en California donde un banco quiebra?**

In [19]:
# Filtrar los bancos en California
bancos_california = bancos[bancos['ST'] == 'CA']

# Obtener la ciudad más común
ciudad_mas_comun = bancos_california['City'].value_counts().idxmax()

print(f"La ciudad más común en California donde quiebra un banco es: {ciudad_mas_comun}")

La ciudad más común en California donde quiebra un banco es: Los Angeles

**¿Cuántos nombres de bancos comienzan con la letra 's'?**

In [20]:
# Contar cuántos nombres de bancos comienzan con la letra 'S'
bancos_con_s = bancos[bancos['Bank Name'].str.startswith('S')].shape[0]
print(f"Cantidad de bancos que comienzan con 'S': {bancos_con_s}")

Cantidad de bancos que comienzan con 'S': 53

**¿Cuántos bancos consisten en dos palabras? Ej. "First Bank" , "Bank Georgia"**

In [21]:
# Contar cuántos bancos consisten en dos palabras
bancos_dos_palabras = bancos[bancos['Bank Name'].str.split().apply(len) == 2].shape[0]
print(f"Bancos que consisten en dos palabras: {bancos_dos_palabras}")

Bancos que consisten en dos palabras: 114

**¿Cuántos bancos quebrados no tienen la palabra "Banco" en su nombre?**

In [22]:
# Contar cuántos bancos no tienen la palabra "Bank" en su nombre
bancos_sin_banco = bancos[~bancos['Bank Name'].str.contains('Bank', case=False)].shape[0]
print(f"Bancos quebrados que no tienen la palabra 'Bank' en su nombre: {bancos_sin_banco}")

Bancos quebrados que no tienen la palabra 'Bank' en su nombre: 10

**¿Cuántos bancos cerraron en el año 2008?**

In [23]:
# Filtrar los bancos que cerraron en el año 2008
bancos_2008 = bancos[bancos['Closing Date'].str.contains('2008')].shape[0]
print(f"Bancos que cerraron en 2008: {bancos_2008}")

Bancos que cerraron en 2008: 0